<a class="back" routerLink="/">&lsaquo;</a>
<div class="form-floating my-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Seu nome">
    <label for="floatingInput">Nome</label>
</div>
<div class="form-floating my-3" >
    <input type="email" class="form-control" id="floatingInput" placeholder="Seu e-mail">
    <label for="floatingInput">Email</label>
</div>
<div class="form-floating my-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Seu telefone">
    <label for="floatingInput">Telefone</label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Quero receber notificações
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked">
      Li e aceito os termos de uso
    </label>
  </div>
  <button type="button" class="btn btn-dark fixed-bottom col-8 mx-auto mb-5">Finalizar Cadastro</button>