.flex-wrap {
    background-color: #F1F3F4 ;
}

.card{
    width: 18%;
    margin: 3rem auto;
}

.card-title {
    min-height: 65px;
    font-size: 18px;
}

.card-body .d-flex {
    min-height: 42px;
}

@media (max-width: 1199.98px) {
    .card{
        width: 22%;
    }
}

@media (max-width: 991.98px) {
    .card{
        width: 30%;
        margin: 2rem auto;
    }
    .my-5 {
        margin-top: 2rem!important;
        margin-bottom: 2rem!important;
    }
}

@media (max-width: 599.98px) {
    .card{
        width: 47%;
    }
}

@media (max-width: 449.98px) {
    .card{
        margin: 1rem auto;
    }
    
    .card-title {
        font-size: 13px;
    }

    .card-text{
        font-size: 10px;
    }
}